/*   
  .light-mode {
    background-color: var(--bg-light);
    color: var(--text-light);
  }
  
  .dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-dark);
  }
   */
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    background-color: var(--bg-light);
    color: var(--text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 10%;
    height: 100vh;
    z-index: 50;
    justify-content: start;
    gap: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    
  }
  
  .header img {
    width: 50px;
    height: 50px;
  }
  
  .header a {
    color: inherit;
    font-weight: 600;
  }
  
  .bottomAlign {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  

  @media screen and (max-width:768px){
    .header{
      flex-direction: row;
      height: fit-content;
      width: 100vw;
    }
    .bottomAlign{
      display: none;
    }
  }