.stream{
   height:600px;
   background-color: black;
   color: white;
   padding: 10px;
   width: 100%;
   margin-top: 2px;
   overflow-y: scroll;
   box-sizing: border-box;
}
.stream-controls{
   padding-top: 20px;
   display: flex;
   gap: 20px;
}